<footer>
            <div id="footer">
              <section class="top">
                  <div class="inner">
                      <div id="logo_bottom"><a href="index.html"><img src="__PUBLIC__/theme/images/logo_bottom.png" alt="" /></a></div>
                        
                        <div class="block_to_top">
                          <a href="#">TOP</a>
                        </div>
                    </div>
                </section>
                
              <section class="middle">
                  <div class="inner">
                      <div class="line_1"></div>
                        
                        <div class="block_footer_widgets">

                            <div class="column">
                              <h3>Tags</h3>
                                
                                <div class="block_tags">
                                  <ul>
                                      <li><a href="#">java开发</a></li>
                                        <li><a href="#">编程技术</a></li>
                                        <li><a href="#">conferece</a></li>
                                        <li><a href="#">Photo</a></li>
                                        <li><a href="#">我的异常</a></li>
                                        <li><a href="#">AI</a></li>
                                        <li><a href="#">美工学习</a></li>
                                        <li><a href="#">mobile</a></li>
                                        <li><a href="#">Technology</a></li>
                                        <li><a href="#">computer</a></li>
                                        <li><a href="#">Video</a></li>
                                        <li><a href="#">apple</a></li>
                                        <li><a href="#">news</a></li>
                                        <li><a href="#">Euro</a></li>
                                        <li><a href="#">Culture</a></li>
                                        <li><a href="#">interior</a></li>
                                        <li><a href="#">Midle east</a></li>
                                        <li><a href="#">Design</a></li>
                                        <li><a href="#">euro 2012</a></li>
                                        <li><a href="#">flowers</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="column">
                              <h3>推荐新闻</h3>
                                
                                <div class="block_most_read_news">
                                  <div class="article">
                                      <div class="pic">
                                          <a href="news_post.html" class="w_hover">
                                              <img src="__PUBLIC__/theme/images/pic_most_read_1.png" alt="" />
                                                <span></span>
                                            </a>
                                        </div>
                                        
                                        <div class="text">
                                          <p class="title"><a href="news_post.html">个人博客的前景在哪儿呢</a></p>
                                            <p class="date">08 July, 2012</p>
                                        </div>
                                    </div>
                                    <div class="line_1"></div>
                                    
                                    <div class="article">
                                      <div class="pic">
                                          <a href="news_post.html" class="w_hover">
                                              <img src="__PUBLIC__/theme/images/pic_most_read_2.png" alt="" />
                                                <span></span>
                                            </a>
                                        </div>
                                        
                                        <div class="text">
                                          <p class="title"><a href="news_post.html">个人博客转自媒体是博主最后出路吗</a></p>
                                            <p class="date">08 July, 2012</p>
                                        </div>
                                    </div>
                                    <div class="line_1"></div>
                                    
                                    <div class="article">
                                      <div class="pic">
                                          <a href="news_post.html" class="w_hover">
                                              <img src="__PUBLIC__/theme/images/pic_most_read_3.png" alt="" />
                                                <span></span>
                                            </a>
                                        </div>
                                        
                                        <div class="text">
                                          <p class="title"><a href="news_post.html">博主模版选择的标准是什么呢</a></p>
                                            <p class="date">08 July, 2012</p>
                                        </div>
                                    </div>
                                    <div class="line_1"></div>
                                    
                                </div>
                            </div>
                            
                            <div class="column">
                              <h3>联系博主</h3>
                                
                                <div class="block_contact_footer">
                                    <p class="text">名字:</p>
                                    <div class="field"><input type="text" /></div>
                                    <p class="text">Email:</p>
                                    <div class="field"><input type="text" /></div>
                                    <p class="text">留言:</p>
                                    <div class="textarea"><textarea cols="1" rows="1"></textarea></div>
                                    <div class="clear_form"><input type="reset" value="Clear form" /></div>
                                    <div class="send"><input type="submit" class="general_button" value="提交" /></div>
                                    <div class="clearboth"></div>
                                </div>
                            </div>
                            
                            <div class="clearboth"></div>
                        </div>
                    </div>
                </section>
                
              <section class="bottom">
                  <div class="inner">
                      <div class="line_1"></div>
                        <div class="block_copyrights"><p>&copy; 2016 zhou All rights reserved. 粤ICP备15083095号</p></div>
                    </div>
                </section>
            </div>
        </footer>