<title>灰色个人博客模版个性自然</title>

<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width" />

<link rel="stylesheet" href="__PUBLIC__/theme/layout/style.css" type="text/css" />

<script type="text/javascript" src="__PUBLIC__/theme/layout/js/jquery.js"></script>

<!-- PrettyPhoto start -->
<link rel="stylesheet" href="__PUBLIC__/theme/layout/plugins/prettyphoto/css/prettyPhoto.css" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/theme/layout/plugins/prettyphoto/jquery.prettyPhoto.js"></script>
<!-- PrettyPhoto end -->

<!-- jQuery tools start -->
<script type="text/javascript" src="__PUBLIC__/theme/layout/plugins/tools/jquery.tools.min.js"></script>
<!-- jQuery tools end -->

<!-- Calendar start -->
<link rel="stylesheet" href="__PUBLIC__/theme/layout/plugins/calendar/calendar.css" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/theme/layout/plugins/calendar/calendar.js"></script>
<!-- Calendar end -->

<!-- ScrollTo start -->
<script type="text/javascript" src="__PUBLIC__/theme/layout/plugins/scrollto/jquery.scroll.to.min.js"></script>
<!-- ScrollTo end -->

<!-- MediaElements start -->
<link rel="stylesheet" href="__PUBLIC__/theme/layout/plugins/video-audio/mediaelementplayer.css" />
<script src="__PUBLIC__/theme/layout/plugins/video-audio/mediaelement-and-player.js"></script>
<!-- MediaElements end -->

<!-- FlexSlider start -->
<link rel="stylesheet" href="__PUBLIC__/theme/layout/plugins/flexslider/flexslider.css" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/theme/layout/plugins/flexslider/jquery.flexslider-min.js"></script>
<!-- FlexSlider end -->

<!-- iButtons start -->
<link rel="stylesheet" href="__PUBLIC__/theme/layout/plugins/ibuttons/css/jquery.ibutton.css" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/theme/layout/plugins/ibuttons/lib/jquery.ibutton.min.js"></script>
<!-- iButtons end -->

<!-- jQuery Form Plugin start -->
<script type="text/javascript" src="__PUBLIC__/theme/layout/plugins/ajaxform/jquery.form.js"></script>
<!-- jQuery Form Plugin end -->

<script type="text/javascript" src="__PUBLIC__/theme/layout/js/main.js"></script>

<script type="text/javascript">
	jQuery(function () {
	});
</script>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />