<!-- HEADER BEGIN -->
        <header>
            <div id="header">
        
                
                <section class="bottom">
                    <div class="inner">
                        <div id="logo_top"><a href="index.html"><img width="180px" src="__PUBLIC__/theme/images/logo_top.png" alt="BusinessNews" title="BusinessNews" /></a></div>
                        
                        <div class="block_today_date">
                            <div class="num"><p id="num_top" /></div>
                            <div class="other">
                                <p class="month_year"><span id="month_top"></span>, <span id="year_top"></span></p>
                                <p id="day_top" class="day" />
                            </div>
                        </div>
                        
                        <div class="fr">
                            <div class="block_languages">
                                <div class="clearboth"></div>
                            </div>
                            
                            <div class="block_search_top">
                                <form action="#" />
                                    <div class="field"><input type="text" class="w_def_text" title="Enter Your Email Addres" /></div>
                                    <input type="submit" class="button" value="Search" />
                                    
                                    <div class="clearboth"></div>
                                </form>
                            </div>
                        </div>
                        
                        <div class="clearboth"></div>
                    </div>
                </section>
                
                <section class="section_main_menu">
                    <div class="inner">
                        <nav class="main_menu">
                            <ul>

                                <li class="current_page_item"><a href="index.html">首页</a></li>
                                <li><a href="http://www.osblog.net/template.html">博客模版</a></li>
                                <li><a href="http://www.osblog.net/blog.html">编程技术</a></li>
                                <li><a href="#">最新新闻</a></li>
                                <li><a href="#">关于博客</a></li>
                          </ul>
                        </nav>
                    </div>
                </section>
                
            </div>
        </header>
        <!-- HEADER END -->